@import '_vars';
@import '_fonts';

@media (max-width: 1200px) {
    .menu__list-item {
        & + & {
            margin-left: 20px;
        }
    }

    .header-contact {
        margin-left: 25px;
    }
}

@media (max-width: 1100px) {
    .logo__img {
        max-width: 200px;
    }

    .header-contact {
        padding-left: 18px;
        margin-left: 20px;
        font-size: 20px;
        line-height: 20px;
    }

    .menu__list-item {
        & + & {
            margin-left: 14px;
        }
    }
}

@media (max-width: 1000px) {
    .burger-btn {
        display: block;
    }

    .header-navigation {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
    }
}
