<section class="contact">
    <div class="container">
        <div class="contact-inner">
            
            <div class="contact-items">
                
                <div class="contact__item">
                    <h6 class="contact__item-title">
                        Офис
                    </h6>
                    <p class="contact__item-text">
                        Санкт-Петербург, Красногвардейская пл. 3Е этаж 2 секция Е2 055 “Cucina Preferita”
                    </p>
                </div>

                <div class="contact__item">
                    <h6 class="contact__item-title">
                        Время работы
                    </h6>
                    <p class="contact__item-text">
                        ежедневно: с 11:00 до 20:00, желательна предварительная запись
                    </p>
                </div>

                <div class="contact__item">
                    <h6 class="contact__item-title">
                        Телефон
                    </h6>
                    <a class="contact__item-text" href="tel:78126171760" aria-label="phone">
                        +7 (812) 617-17-60
                    </a>
                    <a class="contact__item-text" href="tel:79052292928" aria-label="phone">
                        +7 (905) 229-29-28
                    </a>
                </div>

                <div class="contact__item">
                    <h6 class="contact__item-title">
                        Email
                    </h6>
                    <a class="contact__item-text" href="mailto:sales@spbkitchen.ru" aria-label="Email">
                        sales@spbkitchen.ru
                    </a>
                </div>

                <div class="contact__item contact__item--social">
                    <a class="contact__item-text contact__item-text--vk" href="#" aria-label="social">
                        Наша группа ВКонтакте
                    </a>
                    <a class="contact__item-text contact__item-text--inst" href="#" aria-label="social">
                        Аккаунт в Instagram
                    </a>
                </div>

            </div>

            <div class="contact-map">
                <h3 class="contact-map__title">
                    Cхема проезда
                </h3>
                <img class="contact-map__img lazyload" data-src="images/content/contact-map.jpg" alt="map-img">
            </div>

        </div>
    </div>
</section>