<!-- DESIGNER -->
<section class="designer section-outer">
    <div class="container">
        
        <div class="designer-inner">

            <h2 class="designer__title title">
                <span class="title__text">
                    Наши дизайнеры
                </span>
            </h2>

            <div class="designer-content" data-mobile="false">
                <div class="designer-items swiper-wrapper" data-aos="fade-up">

                    <div class="designer__item swiper-slide">
                        <img class="designer__item-photo lazyload" data-src="images/content/designer-photo-1.webp" alt="Now Yanchenko photo">
                        <h3 class="designer__item-title">
                            Нина Янченко
                        </h3>
                        <blockquote class="designer__item-text">
                            Основная задача, которую я делаю в студии - я занимаюсь эксплуатацией своего вкуса.
                        </blockquote>
                    </div>

                    <div class="designer__item swiper-slide">
                        <img class="designer__item-photo lazyload" data-src="images/content/designer-photo-2.webp" alt="Anastasia Bykova photo">
                        <h3 class="designer__item-title">
                            Анастасия Быкова
                        </h3>
                        <blockquote class="designer__item-text">
                            Думайте о содержании, которое вы хотите вложить в создаваемый предмет. Лишь потом придет форма, у вещи будет свой дух.
                        </blockquote>
                    </div>

                    <div class="designer__item swiper-slide">
                        <img class="designer__item-photo lazyload" data-src="images/content/designer-photo-3.webp" alt="Monova Julia photo">
                        <h3 class="designer__item-title">
                            Монова Юля
                        </h3>
                        <blockquote class="designer__item-text">
                            Понятие стиля и вкуса весьма условно. Дело не в том, что у кого-то вкус лучше, а в том, что именно подходит конкретному человеку.
                        </blockquote>
                    </div>

                </div>
                <div class="slider-navigation">
                    <div class="slider-pagination"></div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- / DESIGNER -->