<!-- EXHIBITION -->
<section class="exhibition section-outer">
    <div class="container">
        <div class="exhibition-slider" data-mobile="false">
            <div class="exhibition-items swiper-wrapper" data-aos="fade-up">
                <div class="exhibition__item swiper-slide">
                    <img class="lazyload" data-src="images/content/exhibition-img-1.jpg" alt="exhibition-img-1">
                </div>
                <div class="exhibition__item swiper-slide">
                    <img class="lazyload" data-src="images/content/exhibition-img-2.jpg" alt="exhibition-img-2">
                </div>
                <div class="exhibition__item swiper-slide">
                    <img class="lazyload" data-src="images/content/exhibition-img-3.jpg" alt="exhibition-img-3">
                </div>
            </div>
            <div class="slider-navigation">
                <div class="slider-pagination"></div>
            </div>
        </div>
    </div>
</section>
<!-- / EXHIBITION -->