<!-- GIFT -->
<section class="gift lazyload section-outer" data-bg="images/content/gift-bg.jpg">
    <div class="container">
        <div class="gift-inner">
            <div class="gift-img">
                <img class="lazyload" data-src="images/content/gift.png" alt="gift-img">
            </div>
            <div class="gift-info" data-aos="fade-up">
                <h2 class="gift__title">
                    Чайник Kitchenaid в подарок при покупке кухни!
                </h2>
                <p class="gift__text">
                    До 1 мая при полной предоплате дизайн-проекта кухни мы дарим вам стильный электрический чайник Kitchenaid 5KEK 1222 EAC
                </p>
                <button class="gift__btn btn btn-no-bg">
                    <span class="btn-text">
                        Оставить заявку
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>
<!-- / GIFT -->