<section class="guarantee section-outer">
    <div class="container">
        <div class="guarantee-inner">

         <p class="guarantee__text">
             Петли и ящики с доводчиком фирмы Blum для невероятного комфорта в использовании. Подъемные механизмы Blum AVENTOS – лучшее из того, что предлагает европейский рынок. Не забывайте ознакомиться  с приложением по уходу и правилам эксплуатации. Систематический правильный уход за мебелью позволит прослужить Вашей кухне не менее 10–15 лет!
         </p>

         <blockquote class="guarantee__blockquote">

             <p class="guarantee__blockquote-text">
                 Гарантийный срок на мебель нашей компании составляет <span>1,5 года</span>.
             </p>

             <p class="guarantee__blockquote-text">
                 При заказе мебели с комплектующими Blum действует отдельная гарантия на комплектующие <span>5 лет</span>!
             </p>

         </blockquote>

         <p class="guarantee__text">
             Позвоните и запишитесь на выезд дизайнера к Вам домой или договоритесь о встрече у нас в офисе. Мы нарисуем Вам проект, подберем материалы, составим смету.
         </p>

         <blockquote class="guarantee__blockquote">

             <p class="guarantee__blockquote-text">
                 В случае заказа мебели в нашей компании Вы вносите предоплату 70%, и мы начинаем изготовление.                              
             </p>

             <p class="guarantee__blockquote-text">
                 Оставшуюся часть денег за заказ в размере 30% Вы вносите только после доставки изделия к Вам домой!
             </p>

             <p class="guarantee__blockquote-text">
                 Монтаж оплачивается после полной сдачи изделия заказчику.
             </p>

         </blockquote>

        </div>
    </div>
</section>