
<section class="portfolio section-outer">
    <div class="container">
        <div class="portfolio-inner">
            <div class="portfolio-top">
                <h2 class="preference__title title">
                    <span class="title__text">
                        Наше портфолио
                    </span>
                </h2>
            </div>
            <div class="tabs">

                <div class="tabs-triggers">
                    <a href="#tab-1" class="tabs-triggers__item">Все</a>
                    <a href="#tab-2" class="tabs-triggers__item">Модерн</a>
                    <a href="#tab-3" class="tabs-triggers__item">Классика</a>
                </div>

                <div class="tabs-content">

                    <div id="tab-1" class="tabs-content__item">
                        <div class="portfolio-content">

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-5.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 13428</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-3.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 14628</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-1.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 73284</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-6.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 73862</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-1.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 14385</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-4.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 14796</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div id="tab-2" class="tabs-content__item">
                        <div class="portfolio-content">

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-6.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 94376</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-2.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 34658</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-3.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 10385</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-4.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 432918</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-5.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 43286</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-1.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 13864</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div id="tab-3" class="tabs-content__item">
                        <div class="portfolio-content">

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-5.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 13428</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-3.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 14628</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-1.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 73284</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-6.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 73862</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-1.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 14385</p>
                                    </div>
                                </a>
                            </div>

                            <div class="portfolio__item">
                                <a class="portfolio__item-link" href="#" aria-label="Portfolio photo">
                                    <img class="portfolio__item-img" src="images/content/portfolio-4.jpg" alt="portfolio-img">
                                    <div class="portfolio__item-hover">
                                        <div class="portfolio__item-info">
                                            <h3 class="portfolio__item-title">Кухня Модерн</h3>
                                            <h4 class="portfolio__item-subtitle">пластик-шпон</h4>
                                        </div>
                                        <p class="portfolio__item-code">артикул 14796</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <button class="portfolio-btn btn btn-standart">
                <span class="btn-text">Смотреть все работы</span>
            </button>

        </div>
    </div>
</section>
