<!-- PRESENTATION -->
<section class="presentation section-outer">
    <div class="container">
        <div class="presentation-inner">
            
            <div class="presentation-slider">
                
                <div class="presentation-slider__main main-slider">

                    <div class="main-slider__wrapper swiper-wrapper">
                        <img class="main-slider__slide swiper-slide" src="images/content/showroom-photo-1.jpg" alt="main-img">
                        <img class="main-slider__slide swiper-slide lazyload" data-src="images/content/showroom-photo-2.jpg" alt="main-img">
                        <img class="main-slider__slide swiper-slide lazyload" data-src="images/content/showroom-photo-3.jpg" alt="main-img">
                        <img class="main-slider__slide swiper-slide lazyload" data-src="images/content/showroom-photo-1.jpg" alt="main-img">
                        <img class="main-slider__slide swiper-slide lazyload" data-src="images/content/showroom-photo-2.jpg" alt="main-img">
                        <img class="main-slider__slide swiper-slide lazyload" data-src="images/content/showroom-photo-3.jpg" alt="main-img">
                    </div>

                    <div class="slider-navigation">

                        <div class="slider-button slider-button-prev">
                            <svg viewBox="0 0 66 10">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M61.2071 0.292847L65.9142 4.99995L61.2071 9.70706L59.7929 8.29285L62.0858 5.99995H0V3.99995H62.0858L59.7929 1.70706L61.2071 0.292847Z"/>
                            </svg>
                        </div>

                        <div class="slider-button slider-button-next">
                            <svg viewBox="0 0 66 10">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M61.2071 0.292847L65.9142 4.99995L61.2071 9.70706L59.7929 8.29285L62.0858 5.99995H0V3.99995H62.0858L59.7929 1.70706L61.2071 0.292847Z"/>
                            </svg>
                        </div>

                    </div>

                </div>
                
                <div class="presentation-slider__thumbs thumbs-slider">
                    <div class="thumbs-slider__wrapper swiper-wrapper">
                        <img class="thumbs-slider__thumb swiper-slide" src="images/content/thumbs-1.jpg" alt="thumbs-img">
                        <img class="thumbs-slider__thumb swiper-slide lazyload" data-src="images/content/thumbs-2.jpg" alt="thumbs-img">
                        <img class="thumbs-slider__thumb swiper-slide lazyload" data-src="images/content/thumbs-3.jpg" alt="thumbs-img">
                        <img class="thumbs-slider__thumb swiper-slide lazyload" data-src="images/content/thumbs-4.jpg" alt="thumbs-img">
                        <img class="thumbs-slider__thumb swiper-slide lazyload" data-src="images/content/thumbs-5.jpg" alt="thumbs-img">
                        <img class="thumbs-slider__thumb swiper-slide lazyload" data-src="images/content/thumbs-6.jpg" alt="thumbs-img">
                    </div>
                    
                    
                </div>
                
                <div class="slider-navigation">
                    <div class="slider-pagination"></div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- / PRESENTATION -->