<!-- PREFERENCE -->
<section class="preference section-outer--small">
    <div class="container">
        <div class="preference-inner">

            <div class="preference-top">
                <h2 class="preference__title title">
                    <span class="title__text">
                        Кухня по вашим предпочтениям
                    </span>
                </h2>
                <p class="preference__text" data-aos="fade-up">
                    Компания «Cucina Preferita» на протяжении нескольких лет со стопроцентным показателем оправдывает доверие сотен покупателей, которые хотят выгодно и быстро стать владельцами кухни по индивидуальному заказу. Нам доверяют потому, что мы:
                </p>
            </div>

            <div class="preference-items">
                
                <div class="preference-item">
                    <div class="preference-item__img" data-aos="fade-up">
                        <img class="lazyload" data-src="/images/icons/preference-1.svg" alt="preference-img">
                    </div>
                    <p class="preference-item__text" data-aos="fade-up">
                        Создаем уникальные и непохожие на шаблонные гарнитуры мебели
                    </p>
                </div>

                <div class="preference-item">
                    <div class="preference-item__img" data-aos="fade-up">
                        <img class="lazyload" data-src="/images/icons/preference-2.svg" alt="preference-img">
                    </div>
                    <p class="preference-item__text" data-aos="fade-up">
                        Разрабатываем проекты под самые небольшие или нестандартные помещения
                    </p>
                </div>
                
                <div class="preference-item">
                    <div class="preference-item__img" data-aos="fade-up">
                        <img class="lazyload" data-src="/images/icons/preference-3.svg" alt="preference-img">
                    </div>
                    <p class="preference-item__text" data-aos="fade-up">
                        Используем только проверенные материалы и надёжную фурнитуру
                    </p>
                </div>
                
            </div>

        </div>
    </div>
</section>
<!-- / PREFERENCE -->
