<!-- PRICE -->
<section class="price">
    <div class="container">
        <div class="price-inner">

            <div class="price-items">

                <div class="price__item">
                    <div class="price__item-info">
                        <h3 class="price__item-title">
                            Стоимость доставки по городу (впределах КАДа)
                        </h3>
                        <p class="price__item-text">
                            Подъем оговаривается отдельно.
                        </p>
                    </div>
                    <p class="price__item-coat">
                        3500 руб.
                    </p>
                </div>
                
                <div class="price__item">
                    <div class="price__item-info">
                        <h3 class="price__item-title">
                            Cтоимость доставки за пределы КАДа до 20 км
                        </h3>
                    </div>
                    <p class="price__item-coat">
                        4500 руб.
                    </p>
                </div>
                
                <div class="price__item">
                    <div class="price__item-info">
                        <h3 class="price__item-title">
                            Cтоимость доставки за пределы КАДа более 20 км.
                        </h3>
                    </div>
                    <p class="price__item-coat">
                        по договоренности
                    </p>
                </div>

            </div>

            <p class="price__text">
                Сроки изготовления зависят от выбранных материалов и сложности проекта (от 2 до 8 недель) и оговариваются на момент заказа.
            </p>

        </div>
    </div>
</section>
<!-- / PRICE -->