 <!-- RECALL -->
 <section class="recall section-outer">
    <div class="container">
        <div class="recall-inner">

            <div class="recall-items">

                <div class="recall__item" data-aos="fade-up">
                    <div class="recall__item-info">
                        <h3 class="recall__item-title">
                            Отличный сервис и качество работы
                        </h3>
                        <p class="recall__item-text">
                            Хочу сказать огромное спасибо Нине и Елене за мою любимую кухню!!! Редко сейчас встретишь людей,которые тебя понимают,а ещё реже людей,которые выполняют свои обязательства не только в срок! !! ,но ещё и оправдывают твои ожидания! Я далеко не самый лучший клиент наверно) но меня не только поняли ,но и посоветовали что и как лучше сделать ,исходя из моих желаний и средств. Кухня действительно очень красивая и качественная. Отдельное спасибо сборщику Владимиру. Очень приятный человек и мастер своего дела! Мне не стыдно вас советовать своим друзьям и знакомым! Успехов вам и много новых клиентов!
                        </p>
                        <p class="recall__item-name">
                            Ирина Диденко
                        </p>
                    </div>
                    <div class="recall__item-images recall-img" data-mobile="false">
                        <div class="recall-img-wrapper swiper-wrapper">
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-1.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-1.jpg" alt="recall-img__item">
                            </a>
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-5.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-5.jpg" alt="recall-img__item">
                            </a>
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-3.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-3.jpg" alt="recall-img__item">
                            </a>
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-4.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-4.jpg" alt="recall-img__item">
                            </a>
                        </div>
                        <div class="slider-navigation">
                            <div class="slider-pagination"></div>
                        </div>
                    </div>
                </div>

                <div class="recall__item" data-aos="fade-up">
                    <div class="recall__item-info">
                        <p class="recall__item-text">
                            Очень благодарна всем замечательным профессионалам, которые сотворили нашу кухню. Спасибо Марии и Нине, Александру Николаевичу и тем людям, которые остались скрыты от нас. Все сделано четко и в срок. Кухня получилась именно такой, как хотелось, несмотря на муки выбора. Обязательно обратимся и за следующей мебелью.
                        </p>
                        <p class="recall__item-name">
                            Ольга Суханова
                        </p>
                    </div>
                    <div class="recall__item-images recall-img" data-mobile="false">
                        <div class="recall-img-wrapper swiper-wrapper">
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-6.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-6.jpg" alt="recall-img__item">
                            </a>
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-7.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-7.jpg" alt="recall-img__item">
                            </a>
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-8.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-8.jpg" alt="recall-img__item">
                            </a>
                        </div>
                        <div class="slider-navigation">
                            <div class="slider-pagination"></div>
                        </div>
                    </div>
                </div>

                <div class="recall__item" data-aos="fade-up">
                    <div class="recall__item-info">
                        <p class="recall__item-text">
                            Хотела поблагодарить Любимую кухню за мебель в нашем доме. Обратилась к Нине после рекомендации знакомых, которые уже установили кухню. Была приятно удивленна ценой, но и качество безупречное. Сделали все в срок и с учетом всех пожеланий. Редко встретишь таких ответственных людей в работе. Поэтому теперь в доме у нас кухня нашей мечты. 
                            Отдельное спасибо Нине за понимание и прекрасную работу!
                            Еще у нас появилась детская гардеробная, шикарный шкаф, будуар и на очереди еще следующие заказы.
                        </p>
                        <p class="recall__item-name">
                            Елизавета Дорохова
                        </p>
                    </div>
                    <div class="recall__item-images recall-img" data-mobile="false">
                        <div class="recall-img-wrapper swiper-wrapper">
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-10.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-10.jpg" alt="recall-img__item">
                            </a>
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-2.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-2.jpg" alt="recall-img__item">
                            </a>
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-9.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-9.jpg" alt="recall-img__item">
                            </a>
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-4.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-4.jpg" alt="recall-img__item">
                            </a>
                        </div>
                        <div class="slider-navigation">
                            <div class="slider-pagination"></div>
                        </div>
                    </div>
                </div>

                <div class="recall__item" data-aos="fade-up">
                    <div class="recall__item-info">
                        <p class="recall__item-text">
                            Нина, я благодарю Вас и Вашу команду за качественную мебель и профессионализм от начала работ до их окончания и после. 
                            С Ниной мы взаимодействовали на протяжении всего прошлого года. Сначала кухня, один эскиз, другой, предложения и согласования, ожидание, когда помещение будет готово и установка. Позже я заказала у Нины шкаф и мебель в прихожую и шкаф в спальню. 
                            Нина - профессионал и очень приятный в работе человек - все спокойно, четко и по существу. Спасибо за помощь и предложения в выборе цветовых и конструктивных решений. 
                            Мне было принятно взаимодействовать, и я рада, что доверилась Вашим идеям, предложениям и помощи. И, конечно, очень ценна возможность оставить доставку и сборку под контролем Нины, и без моего вмешательства. 
                            Это был мой первый опыт сотрудничества с мебельной компанией и он оказался удачным. Могу смело рекомендовать Любимую кухню.
                        </p>
                        <p class="recall__item-name">
                            Алина Шайдуллина
                        </p>
                    </div>
                </div>

                <div class="recall__item" data-aos="fade-up">
                    <div class="recall__item-info">
                        <p class="recall__item-text">
                            "Любимая кухня", огромная вам моя благодарность за любимую кухню))) В маленьком пространстве с газовыми трубами через всю стену вы сотворили чудо. Мария, благодарю за преданность профессии, за феноменальную трудоспособность, внимание к деталям. Нина, Вам за чёткость, доброжелательность и за вОвремя сделанную подсказку. Сергей, руки Ваши золотые сделали чудеса, благодарю от души.
                        </p>
                        <p class="recall__item-name">
                            Наталия Захаренкова
                        </p>
                    </div>
                    <div class="recall__item-images recall-img" data-mobile="false">
                        <div class="recall-img-wrapper swiper-wrapper">
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-8.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-8.jpg" alt="recall-img__item">
                            </a>
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-3.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-3.jpg" alt="recall-img__item">
                            </a>
                            <a class="recall-img__link swiper-slide" data-fslightbox="first-lightbox" href="images/content/recall-7.jpg" aria-label="recall-img">
                                <img class="recall-img__item lazyload" data-src="images/content/recall-7.jpg" alt="recall-img__item">
                            </a>
                        </div>
                        <div class="slider-navigation">
                            <div class="slider-pagination"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="pagination" data-aos="fade-up">
                <ul class="pagination-list">
                    <li class="pagination-list__item pagination-list__item--first">
                        <a href="#">Последняя</a>
                    </li>
                    <li class="pagination-list__item">
                        <a href="#">1</a>
                    </li>
                    <li class="pagination-list__item pagination-list__item--active">
                        <a href="#">2</a>
                    </li>
                    <li class="pagination-list__item">
                        <a href="#">3</a>
                    </li>
                    <li class="pagination-list__item">
                        <a href="#">4</a>
                    </li>
                    <li class="pagination-list__item">
                        <a href="#">5</a>
                    </li>
                    <li class="pagination-list__item pagination-list__item--last">
                        <a href="#">Последняя</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
<!-- / RECALL -->