<!-- REVIEWS -->
<section class="reviews section-outer" id="reviews">
    <div class="container">
        <div class="reviews-inner">
            
            <div class="reviews-top">
                <h2 class="reviews__title title">
                    <span class="title__text">
                        Отзывы клиентов
                    </span>
                </h2>
            </div>

            <div class="reviews-slider swiper-container">
                <div class="reviews-items">

                    <div class="reviews-item">
                        <div class="reviews-content">
                            <h3 class="reviews-slider__title">Отличный сервис и качество работы</h3>
                            <p class="reviews-slider__text">Хочу сказать огромное спасибо Нине и Елене за мою любимую кухню!!! Редко сейчас встретишь людей,которые тебя понимают,а ещё реже людей, которые выполняют свои обязательства не только в срок!!! Но ещё и оправдывают твои ожидания! Я далеко не самый лучший клиент наверно) Но меня не только поняли, но и посоветовали что и как лучше сделать, исходя из моих желаний и средств. Кухня действительно очень красивая и качественная. Отдельное спасибо сборщику Владимиру. Очень приятный человек и мастер своего дела! Мне не стыдно вас советовать своим друзьям и знакомым! Успехов вам и много новых клиентов!</p>
                            <p class="reviews-slider__author">Ирина Диденко</p>
                        </div>
                        <div class="reviews-slider-photo">
                            <img class="reviews-slider-photo__img lazyload" data-src="images/content/slider-img-1.jpg" alt="slider-img">
                        </div>
                    </div>

                    <div class="reviews-item">
                        <div class="reviews-content">
                            <h3 class="reviews-slider__title">Отличный сервис и качество работы</h3>
                            <p class="reviews-slider__text">Хочу сказать огромное спасибо Нине и Елене за мою любимую кухню!!! Редко сейчас встретишь людей,которые тебя понимают,а ещё реже людей, которые выполняют свои обязательства не только в срок!!! Но ещё и оправдывают твои ожидания! Я далеко не самый лучший клиент наверно) Но меня не только поняли, но и посоветовали что и как лучше сделать, исходя из моих желаний и средств. Кухня действительно очень красивая и качественная. Отдельное спасибо сборщику Владимиру. Очень приятный человек и мастер своего дела! Мне не стыдно вас советовать своим друзьям и знакомым! Успехов вам и много новых клиентов!</p>
                            <p class="reviews-slider__author">Ирина Диденко</p>
                        </div>
                        <div class="reviews-slider-photo">
                            <img class="reviews-slider-photo__img lazyload" data-src="images/content/portfolio-1.jpg" alt="slider-img">
                        </div>
                    </div>

                    <div class="reviews-item">
                        <div class="reviews-content">
                            <h3 class="reviews-slider__title">Отличный сервис и качество работы</h3>
                            <p class="reviews-slider__text">Хочу сказать огромное спасибо Нине и Елене за мою любимую кухню!!! Редко сейчас встретишь людей,которые тебя понимают,а ещё реже людей, которые выполняют свои обязательства не только в срок!!! Но ещё и оправдывают твои ожидания! Я далеко не самый лучший клиент наверно) Но меня не только поняли, но и посоветовали что и как лучше сделать, исходя из моих желаний и средств. Кухня действительно очень красивая и качественная. Отдельное спасибо сборщику Владимиру. Очень приятный человек и мастер своего дела! Мне не стыдно вас советовать своим друзьям и знакомым! Успехов вам и много новых клиентов!</p>
                            <p class="reviews-slider__author">Ирина Диденко</p>
                        </div>
                        <div class="reviews-slider-photo">
                            <img class="reviews-slider-photo__img lazyload" data-src="images/content/portfolio-4.jpg" alt="slider-img">
                        </div>
                    </div>

                    <div class="reviews-item">
                        <div class="reviews-content">
                            <h3 class="reviews-slider__title">Отличный сервис и качество работы</h3>
                            <p class="reviews-slider__text">Хочу сказать огромное спасибо Нине и Елене за мою любимую кухню!!! Редко сейчас встретишь людей,которые тебя понимают,а ещё реже людей, которые выполняют свои обязательства не только в срок!!! Но ещё и оправдывают твои ожидания! Я далеко не самый лучший клиент наверно) Но меня не только поняли, но и посоветовали что и как лучше сделать, исходя из моих желаний и средств. Кухня действительно очень красивая и качественная. Отдельное спасибо сборщику Владимиру. Очень приятный человек и мастер своего дела! Мне не стыдно вас советовать своим друзьям и знакомым! Успехов вам и много новых клиентов!</p>
                            <p class="reviews-slider__author">Ирина Диденко</p>
                        </div>
                        <div class="reviews-slider-photo">
                            <img class="reviews-slider-photo__img lazyload" data-src="images/content/portfolio-6.jpg" alt="slider-img">
                        </div>
                    </div>

                    <div class="reviews-item">
                        <div class="reviews-content">
                            <h3 class="reviews-slider__title">Отличный сервис и качество работы</h3>
                            <p class="reviews-slider__text">Хочу сказать огромное спасибо Нине и Елене за мою любимую кухню!!! Редко сейчас встретишь людей,которые тебя понимают,а ещё реже людей, которые выполняют свои обязательства не только в срок!!! Но ещё и оправдывают твои ожидания! Я далеко не самый лучший клиент наверно) Но меня не только поняли, но и посоветовали что и как лучше сделать, исходя из моих желаний и средств. Кухня действительно очень красивая и качественная. Отдельное спасибо сборщику Владимиру. Очень приятный человек и мастер своего дела! Мне не стыдно вас советовать своим друзьям и знакомым! Успехов вам и много новых клиентов!</p>
                            <p class="reviews-slider__author">Ирина Диденко</p>
                        </div>
                        <div class="reviews-slider-photo">
                            <img class="reviews-slider-photo__img lazyload" data-src="images/content/portfolio-8.jpg" alt="slider-img">
                        </div>
                    </div>

                    <div class="reviews-item">
                        <div class="reviews-content">
                            <h3 class="reviews-slider__title">Отличный сервис и качество работы</h3>
                            <p class="reviews-slider__text">Хочу сказать огромное спасибо Нине и Елене за мою любимую кухню!!! Редко сейчас встретишь людей,которые тебя понимают,а ещё реже людей, которые выполняют свои обязательства не только в срок!!! Но ещё и оправдывают твои ожидания! Я далеко не самый лучший клиент наверно) Но меня не только поняли, но и посоветовали что и как лучше сделать, исходя из моих желаний и средств. Кухня действительно очень красивая и качественная. Отдельное спасибо сборщику Владимиру. Очень приятный человек и мастер своего дела! Мне не стыдно вас советовать своим друзьям и знакомым! Успехов вам и много новых клиентов!</p>
                            <p class="reviews-slider__author">Ирина Диденко</p>
                        </div>
                        <div class="reviews-slider-photo">
                            <img class="reviews-slider-photo__img lazyload" data-src="images/content/portfolio-9.jpg" alt="slider-img">
                        </div>
                    </div>
                    
                </div>

                <div class="slider-navigation reviews-navigation">
                    
                    <div class="slider-button slider-button-prev">
                        <svg viewBox="0 0 66 10">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M61.2071 0.292847L65.9142 4.99995L61.2071 9.70706L59.7929 8.29285L62.0858 5.99995H0V3.99995H62.0858L59.7929 1.70706L61.2071 0.292847Z"/>
                        </svg>
                    </div>

                    <div class="slider-pagination"></div>

                    <div class="slider-button slider-button-next">
                        <svg viewBox="0 0 66 10">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M61.2071 0.292847L65.9142 4.99995L61.2071 9.70706L59.7929 8.29285L62.0858 5.99995H0V3.99995H62.0858L59.7929 1.70706L61.2071 0.292847Z"/>
                        </svg>
                    </div>

                </div>

            </div>
            
        </div>
    </div>
</section>
<!-- / REVIEWS -->