<!-- SHOWROOM -->
<section class="showroom section-outer">
    <div class="container">
        <div class="showroom-inner">

            <div class="showroom-top">

                <h2 class="showroom__title title">
                    <span class="title__text">
                        Наш шоу-рум
                    </span>
                </h2>

                <p class="showroom__text" data-aos="fade-up">
                    В нашем шоу-руме представлен большой ассортимент образцов фасадов, фурнитуры, столешниц, а также готовые кухни в современном и классическом стиле, наглядно демонстрирующие все удобства современной мебели. Рады будем видеть вас со вторника по субботу — визит в шоу-рум по предварительной договоренности.
                </p>

            </div>

            <div class="showroom-container swiper-container" data-aos="fade-up">
                <div class="showroom-items swiper-wrapper">
                    
                    <div class="showroom-item swiper-slide">
                        <img class="lazyload" data-src="/images/content/showroom-photo-1.webp" alt="showroom photo">
                    </div>

                    <div class="showroom-item swiper-slide">
                        <img class="lazyload" data-src="/images/content/showroom-photo-2.webp" alt="showroom photo">
                    </div>

                    <div class="showroom-item swiper-slide">
                        <img class="lazyload" data-src="/images/content/showroom-photo-3.webp" alt="showroom photo">
                    </div>

                    <div class="showroom-item swiper-slide">
                        <img class="lazyload" data-src="/images/content/showroom-photo-1.webp" alt="showroom photo">
                    </div>

                    <div class="showroom-item swiper-slide">
                        <img class="lazyload" data-src="/images/content/showroom-photo-2.webp" alt="showroom photo">
                    </div>

                    <div class="showroom-item swiper-slide">
                        <img class="lazyload" data-src="/images/content/showroom-photo-3.webp" alt="showroom photo">
                    </div>

                </div>

                <div class="slider-navigation reviews-navigation" data-aos="fade-up">
    
                    <div class="slider-button slider-button-prev">
                        <svg viewBox="0 0 66 10">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M61.2071 0.292847L65.9142 4.99995L61.2071 9.70706L59.7929 8.29285L62.0858 5.99995H0V3.99995H62.0858L59.7929 1.70706L61.2071 0.292847Z"/>
                        </svg>
                    </div>

                    <div class="slider-pagination"></div>

                    <div class="slider-button slider-button-next">
                        <svg viewBox="0 0 66 10">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M61.2071 0.292847L65.9142 4.99995L61.2071 9.70706L59.7929 8.29285L62.0858 5.99995H0V3.99995H62.0858L59.7929 1.70706L61.2071 0.292847Z"/>
                        </svg>
                    </div>

                </div>

            </div>
        
        </div>
    </div>
</section>
<!-- / SHOWROOM -->