<!-- START -->
<section class="start start--showroom" style="background-image: url(images/content/start-bg.jpg);">
    <div class="container">
        <div class="start-inner">

            <div class="breadcrumbs start-breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__list-item">
                        <a href="index.html" aria-label="breadcrumbs">
                            Главная
                        </a>
                    </li>
                    <li class="breadcrumbs__list-item">
                        <span>
                            Шоу-рум
                        </span>
                    </li>
                </ul>
            </div>

            <div class="start-content">
                <h2 class="start__title">
                    Шоу-рум
                </h2>
                <p class="start__text">
                    В нашем шоу-руме представлен большой ассортимент образцов фасадов, фурнитуры, столешниц, а также готовые кухни в современном и классическом стиле, наглядно демонстрирующие все удобства современной мебели.
                </p>
            </div>

        </div>
    </div>
</section>
<!-- / START -->