<section class="work section-outer">
    <div class="container">
        <div class="work-inner">
            
            <div class="work-top">
                
                <h2 class="work__title title">
                    <span class="title__text">
                        Как мы работаем?
                    </span>
                </h2>

                <p class="work__text">
                    При планировании интерьера кухни мало определиться с декором и расположением предметов с точки зрения комфортабельности. Есть ряд факторов, которые либо не позволят воплотить дизайн-проект во всех его мелочах, либо для этого потребуется задействовать значительно больше сил, финансовых средств и времени. Составление проекта кухни это не только творческий процесс, но и инженерная работа.
                </p>
            </div>

            <div class="work-items">
                
                <div class="work__item">
                    <div class="work__item-top">
                        <img class="work__item-icon lazyload" data-src="images/icons/work-1.svg" alt="work-icon">
                        <h3 class="work__item-title">
                            Эскиз
                        </h3>
                    </div>
                    <div class="work__item-photo">
                        <img class="lazyload" data-src="images/content/work-img-1.jpg" alt="work-img">
                    </div>
                </div>

                <div class="work__item">
                    <div class="work__item-top">
                        <img class="work__item-icon lazyload" data-src="images/icons/work-2.svg" alt="work-icon">
                        <h3 class="work__item-title">
                            Визуализация
                        </h3>
                    </div>
                    <div class="work__item-photo">
                        <img class="lazyload" data-src="images/content/work-img-2.jpg" alt="work-img">
                    </div>
                </div>

                <div class="work__item">
                    <div class="work__item-top">
                        <img class="work__item-icon lazyload" data-src="images/icons/work-3.svg" alt="work-icon">
                        <h3 class="work__item-title">
                            Результат
                        </h3>
                    </div>
                    <div class="work__item-photo">
                        <img class="lazyload" data-src="images/content/work-img-3.jpg" alt="work-img">
                    </div>
                </div>

            </div>

            <button class="work__btn btn btn-standart">
                <span class="btn-text">
                    Смотреть работы в портфолио
                </span>
            </button>
            
        </div>
    </div>
</section>