.advice {
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba($dark-100, .85);
    }

    &-inner {
        position: relative;
        height: 844px;
        padding: 90px 0;
        color: $light-50;
    }

    &__title {
        max-width: 600px;
        @include title;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }

    &-claim {
        max-width: 580px;

        &__title {
            @include Circle($weight: $fw-light);
        }
    }

    &-btn {
        margin-top: 40px;
        font-size: $fs-s;
        line-height: $lh-xs;
        @include Circle($weight: $fw-regular);
    }
}

.advice-form {
    margin-top: 45px;

    &__item {
        & + & {
            margin-top: 30px;
        }

        &-checkbox {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    &__input {
        margin-top: 10px;
        @include input;
    }

    &__label {
        display: block;
        font-size: $fs-xs;
        line-height: $lh-m;
        @include Circle($weight: $fw-light);

        &-checkbox {
            display: inline;
            margin-left: 15px;
        }
    }

    &__checkbox {
        display: none;

        &-fake {
            position: relative;
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid $light-100;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 12px;
                height: 8px;
                content: "";
                background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8536 1.35359L5.50004 8.70714L0.646484 3.85359L1.35359 3.14648L5.50004 7.29293L12.1465 0.646484L12.8536 1.35359Z' fill='%23F3F1EF'/%3e%3c/svg%3e ");
                opacity: 0;
                transition: $transition;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.advice-form__checkbox:checked + .advice-form__checkbox-fake::before {
    opacity: 1;
}

.advice-info {
    &__title {
        @include Circle($weight: $fw-light);
    }

    &__items {
        position: relative;
        margin-top: 43px;

        &::before {
            position: absolute;
            top: 10%;
            left: -45px;
            width: 2px;
            height: 75%;
            content: "";
            background-color: $light-50;
        }
    }

    &__item {
        position: relative;
        display: flex;
        max-width: 455px;

        &::before {
            position: absolute;
            top: 50%;
            left: -45px;
            width: 26px;
            height: 2px;
            content: "";
            background-color: $light-50;
            transform: translateY(-50%);
        }

        & + & {
            margin-top: 35px;
        }
    }

    &__img {
        width: 40px;
        height: 40px;
    }

    &__text {
        margin-left: 25px;
        font-size: $fs-xs;
        line-height: $lh-m;
        @include Circle($weight: $fw-light);
    }
}
