.exhibition {
    &-slider {
        position: relative;
        padding-bottom: rem(25px);
        margin-top: rem(-140px);

        .swiper-slide {
            width: auto;
        }
    }

    &-items {
        display: flex;
        justify-content: space-between;
    }

    &__item img {
        width: rem(390px);
        height: rem(330px);
        object-fit: cover;
    }

    .slider-navigation {
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }
}
