// === PREFERENCE ===

.preference {
    &-top {
        margin-bottom: rem(80px);
    }

    &__text {
        width: 100%;
        max-width: rem(980px);
        margin: 0 auto;
        font-weight: $fw-light;
        text-align: center;
        @include Circle($weight: $fw-light);
    }

    &-items {
        display: flex;
        justify-content: space-evenly;
    }

    &-item {
        width: 100%;
        max-width: rem(255px);

        &__img {
            margin-bottom: rem(30px);

            img {
                width: rem(80px);
                height: rem(80px);
            }
        }

        &__text {
            font-size: $fs-s;
            @include Circle($weight: $fw-regular);
        }
    }
}

// === / PREFERENCE ===
