// === PRESENTATION ===

.presentation {
    &-inner {
        margin-top: rem(-180px);
    }

    &-slider {
        position: relative;
        width: rem(1020px);
        height: 100%;
        padding-bottom: rem(70px);
        margin: 0 auto;

        .slider-navigation {
            bottom: 0;
            justify-content: center;
            max-width: 100%;
        }
    }
}

.main-slider {
    position: relative;

    &__slide {
        width: rem(1020px);
        height: rem(620px);
        object-fit: cover;
    }

    .slider-navigation {
        top: 50%;
        bottom: 50%;
        z-index: 1;
        justify-content: space-between;
        max-width: 100%;
    }

    .slider-button {
        &-prev {
            margin-left: rem(-105px);
        }

        &-next {
            margin-right: rem(-105px);
        }
    }
}

.thumbs-slider {
    margin-top: rem(15px);

    &__thumb {
        width: rem(157px);
        height: rem(150px);
        cursor: pointer;
        object-fit: cover;
        opacity: 0.7;
        transition: all .7s ease-in-out;

        &.swiper-slide-thumb-active {
            cursor: auto;
            opacity: 1;
        }
    }
}

// === / PRESENTATION ===
