// === REVIEWS ===

.reviews {
    .title {
        margin-bottom: 50px;
    }

    &-content {
        max-width: 475px;
    }

    &-items {
        display: flex;
    }

    &-item {
        position: relative;
        // box-sizing: border-box;
        // display: flex;
        // flex-shrink: 0;
        min-width: 1080px;
        height: 534px;
        padding: 50px 50px 61px 50px;
        font-size: $fs-xs;
        line-height: 26px;
        background-color: $light-50;
        box-shadow: 0 0 20px rgba($dark-100, 0.15);
        @include Circle($weight: 300);
    }

    &-slider {
        width: 1180px;
        height: 600px;
        padding-top: 15px;
        // padding-left: 50px;

        &__title {
            font-size: $fs-l;
            line-height: 35px;
            letter-spacing: 0.01em;
            @include ArnoPro($weight: 400);
        }

        &__text {
            margin-top: 15px;
        }

        &__author {
            margin-top: 35px;
        }

        &-photo {
            position: absolute;
            top: 50px;
            right: -50px;

            img {
                width: 518px;
                height: 534px;
                object-fit: cover;
                filter: drop-shadow(0 0 20px rgba($dark-100, 0.15));
            }
        }
    }

    &-navigation {
        left: 30px;
    }
}

.slider-navigation {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 556px;
}

.slider-button {
    display: inline;
    cursor: pointer;
    transition: $transition;

    svg {
        width: 91px;
        height: 11px;
        fill: $primary;
    }

    &:hover path {
        box-shadow: 0 1px 4px rgba($dark-100, 0.25);
    }

    &:active path {
        box-shadow: 0 1px 4px rgba($dark-100, 0.25);
        fill: rgba($primary, 0.8);
    }

    &-prev svg {
        transform: rotate(-180deg);
    }
}

.swiper-button-disabled {
    opacity: 0.3;
}

.swiper-pagination {
    &-bullet {
        width: 10px;
        height: 10px;
        background: none;
        border: 1px solid $light-200;
        opacity: 1;
        transition: $transition;

        & + & {
            margin-left: 10px;
        }

        &-active {
            background: $primary;
            box-shadow: 0 1px 4px rgba($dark-100, 0.25);
        }
    }
}

// === / REVIEWS ===
