// === REVIEWS ===

.reviews {
    .title {
        margin-bottom: rem(50px);
    }

    &-content {
        max-width: rem(475px);
    }

    &-items {
        display: flex;
    }

    &-item {
        position: relative;
        min-width: rem(1080px);
        height: rem(534px);
        padding: rem(50px) rem(50px) rem(61px) rem(50px);
        font-size: $fs-xs;
        line-height: $lh-s;
        background-color: $light-50;
        box-shadow: 0 0 rem(20px) rgba($dark-100, 0.15);
        @include Circle($weight: $fw-light);
    }

    &-slider {
        width: rem(1180px);
        height: rem(600px);
        padding-top: rem(15px);

        &__title {
            font-size: $fs-l;
            line-height: rem(35px);
            letter-spacing: $lt-sp;
            @include ArnoPro($weight: $fw-regular);
        }

        &__text {
            margin-top: rem(15px);
        }

        &__author {
            margin-top: rem(35px);
        }

        &-photo {
            position: absolute;
            top: rem(50px);
            right: -50px;

            img {
                width: rem(518px);
                height: rem(534px);
                filter: drop-shadow(0 0 rem(20px) rgba($dark-100, 0.15));
            }
        }
    }

    &-navigation {
        left: rem(30px);
    }
}

// === / REVIEWS ===
