.showroom {
    $transitionShowroom: all .8s ease-in-out;

    &-top {
        margin-bottom: rem(10px);
        text-align: center;
    }

    &__text {
        max-width: rem(975px);
        margin: 0 auto;
        font-size: $fs-m;
        line-height: $lh-l;
        @include Circle($weight: $fw-light);
    }

    &-container {
        height: rem(425px);
    }

    &-items {
        display: flex;
        align-items: center;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.6;
        transition: $transitionShowroom;

        img {
            display: block;
            width: 100%;
            width: rem(285px);
            height: rem(190px);
            object-fit: cover;
            transition: $transitionShowroom;
        }

        &--active {
            z-index: 1;
            width: 100%;
            height: rem(365px);
            opacity: 1;

            img {
                width: rem(510px);
                height: rem(330px);
            }
        }
    }

    .slider-navigation {
        right: 0;
        left: 0;
        z-index: 1;
        margin: 0 auto;
    }
}
