.work {
    &-top {
        margin-bottom: rem(60px);
    }

    &__text {
        max-width: rem(1020px);
        margin: 0 auto;
        font-size: $fs-xs;
        line-height: $lh-m;
        text-align: center;
        @include Circle($weight: $fw-light);
    }

    &__btn {
        display: flex;
        justify-content: center;
        width: fit-content;
        margin: rem(60px) auto 0;
    }
}

.work-items {
    display: flex;
    justify-content: space-between;
}

.work__item {
    position: relative;
    text-align: center;

    &-icon {
        width: rem(50px);
        height: rem(50px);
        object-fit: cover;
    }

    &-title {
        margin-top: rem(20px);
        font-size: $fs-l;
        line-height: rem(35px);
        @include ArnoPro($weight: $fw-regular);
    }

    &-photo {
        position: relative;
        padding-top: rem(45px);
        margin-top: rem(20px);

        img {
            width: rem(350px);
            height: rem(246px);
            object-fit: cover;
            border: 2px solid $light-200;
        }

        &::before {
            position: absolute;
            top: 0;
            right: 50%;
            left: 50%;
            width: rem(2px);
            height: rem(45px);
            content: "";
            background-color: $light-200;
        }
    }

    &::after {
        position: absolute;
        top: 67%;
        right: -100%;
        width: 100%;
        height: rem(2px);
        content: "";
        background-color: $light-200;
    }

    &:last-child::after {
        display: none;
    }
}
