@import "vars";

// === RESET STYLES ===

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
}

img {
    object-fit: cover;
}

a,
button,
input,
textarea {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

// === GLOBAL STYLE ===

body {
    font-size: $fs-m;
    line-height: $lh-l;
    color: $dark-50;
    @include Roboto($weight: $fw-regular);
}

// === PINCH THE TOP AND BOTTOM OF THE SITE ===

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: rem(70px);
    overflow: hidden;
}

// === CONTAINER ON WEBSITE ===

.container {
    max-width: rem(1259px);
    padding: 0 rem(15px);
    margin: 0 auto;
}

// === OUTER MARGIN ===

.section-outer {
    margin-bottom: rem(120px);

    &--small {
        margin-bottom: rem(100px);
    }
}

// === TITLE ===

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(40px);
    font-size: $fs-xl;
    line-height: $lh-xl;
    text-align: center;
    letter-spacing: 0.01em;
    @include ArnoPro($weight: $fw-light);

    &::before,
    &::after {
        width: 60vw;
        height: rem(2px);
        margin: 0 rem(60px);
        content: '';
        background: $light-200;
    }

    &::before {
        margin-left: -20vw;
    }

    &::after {
        margin-right: -20vw;
    }

    &__text {
        width: 100%;
        max-width: fit-content;
    }
}

// === ALL BTN ON SITE ===

.btn {
    display: block;
    max-width: 100%;
    padding: rem(24px) rem(44px);
    @include resetBtn;

    .btn-text {
        font-size: $fs-s;
        line-height: $lh-xs;
        text-align: center;
        @include Circle($weight: $fw-regular);
    }

    &-no-bg {
        position: relative;
        min-width: rem(231px);
        color: $light-50;
        border: rem(2px) solid $light-300;
        border-right: none;
        transition: $transition;

        .btn-text {
            position: relative;

            &::before {
                position: absolute;
                top: 50%;
                bottom: 50%;
                left: calc(100% - -18px);
                width: rem(66px);
                height: rem(10px);
                content: "";
                background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='66' height='10' viewBox='0 0 66 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M61.2071 0.292847L65.9142 4.99995L61.2071 9.70706L59.7929 8.29285L62.0858 5.99995H0V3.99995H62.0858L59.7929 1.70706L61.2071 0.292847Z' fill='%23DFD7D3'/%3e%3c/svg%3e ") no-repeat;
                transition: $transition;
                transform: translateY(-50%);
            }
        }

        &::before,
        &::after {
            position: absolute;
            right: 0;
            width: rem(2px);
            height: 30%;
            content: "";
            background-color: $light-300;
            transition: $transition;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        &:hover {
            border-color: $primary;

            &::before,
            &::after {
                background-color: $primary;
            }

            .btn-text::before {
                left: calc(100% - -30px);
            }
        }

        &:active {
            border-color: $light-300;

            &::before,
            &::after {
                background-color: $light-300;
            }

            .btn-text::before {
                left: calc(100% - -10px);
            }
        }
    }

    &-bg {
        color: $dark-50;
        background-color: $light-200;
        transition: $transition;

        &:hover {
            box-shadow: 0 0 rem(30px) rgba($light-200, 0.2);
        }

        &:active {
            box-shadow: 0 0 rem(15px) rgba($light-200, 0.1);
        }
    }

    &-standart {
        border: rem(2px) solid $light-200;
        transition: $transition;

        .btn-text {
            color: $dark-100;
        }

        &:hover {
            border-color: $primary;
        }

        &:active {
            opacity: 0.8;
        }
    }
}

// === LOGO ===

.logo__img {
    width: rem(230px);
    height: rem(41px);
    object-fit: contain;
}

// === MENU ===

.menu__list {
    display: flex;

    &-item {
        & + & {
            margin-left: rem(34px);
        }
    }

    &-link {
        font-size: $fs-s;
        line-height: $lh-s;
        @include ArnoPro($weight: $fw-light);

        @media (any-hover: hover) {
            transition: $transition;

            &:hover {
                color: $primary;
            }
        }
    }
}

// === MOBILE MENU BTN ===

.burger-btn {
    position: relative;
    display: none;
    width: rem(31px);
    height: rem(12px);
    margin-left: auto;
    cursor: pointer;
    @include resetBtn;

    &__line {
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 50%;
        width: 100%;
        height: rem(2px);
        background-color: $primary;
        transition: $transition;
        transform: translateY(-50%);
    }

    &::before,
    &::after {
        position: absolute;
        right: 0;
        height: rem(2px);
        content: "";
        background-color: $primary;
        transition: $transition;
    }

    &::before {
        top: 0;
        width: 100%;
    }

    &::after {
        bottom: 0;
        width: 70%;
    }

    @media (any-hover: hover) {
        &:hover::after {
            width: 100%;
        }
    }
}

// === PHONE ===

.contact-phone {
    position: relative;
    display: flex;
    align-items: center;

    &__img {
        position: absolute;
        top: -2px;
        width: rem(15px);
        height: rem(15px);
    }

    &__text {
        padding-left: rem(25px);
        line-height: $lh-s;
        @include ArnoPro($weight: $fw-regular);
    }

    @media (any-hover: hover) {
        transition: $transition;

        &:hover svg {
            fill: $primary;
        }

        &:hover {
            color: $primary;
        }
    }
}

// ==== SOCIAL ===

.social {
    &-item {
        position: relative;
        display: flex;

        &__img {
            position: absolute;
            top: -30%;
            left: 0;

            svg {
                width: rem(15px);
                height: rem(15px);

                path {
                    fill: $light-50;
                    transition: $transition;
                }
            }
        }

        &__text {
            padding-left: rem(30px);
            font-size: rem(22px);
            line-height: $lh-s;
            color: $light-100;
            transition: $transition;
            @include ArnoPro($weight: $fw-regular);
        }

        @media (any-hover: hover) {
            &__text:hover {
                color: $primary;
            }

            &:hover path {
                fill: $primary;
            }
        }
    }
}

// === SLIDER SWIPER ===

.slider-navigation {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: rem(556px);
}

.slider-button {
    display: inline;
    cursor: pointer;
    transition: $transition;

    svg {
        width: rem(91px);
        height: rem(11px);
        fill: $primary;
    }

    path {
        transition: all .2s ease-in-out;
    }

    &:hover path {
        box-shadow: 0 rem(1px) rem(4px) rgba($dark-100, 0.25);
    }

    &:active path {
        box-shadow: 0 rem(1px) rem(4px) rgba($dark-100, 0.25);
        fill: rgba($primary, 0.8);
    }

    &-prev svg {
        transform: rotate(-180deg);
    }
}

.swiper-button-disabled {
    cursor: auto;
    opacity: 0.3;
}

.swiper-pagination-bullet {
    width: rem(10px);
    height: rem(10px);
    background: none;
    border: rem(1px) solid $light-200;
    opacity: 1;
    transition: all .85s ease-in-out;

    & + & {
        margin-left: rem(10px);
    }

    &-active {
        background: $primary;
        box-shadow: 0 rem(1px) rem(4px) rgba($dark-100, 0.25);
    }
}

.swiper-slide-next,
.swiper-slide-prev {
    cursor: pointer;
}

// === TABS ==

.tabs {
    &-triggers {
        display: flex;
        justify-content: center;
        margin-bottom: rem(45px);

        &__item {
            position: relative;
            font-size: $fs-l;
            line-height: $lh-l;
            color: $dark-100;
            white-space: nowrap;
            transition: $transition;
            @include Circle ($weight: $fw-light);

            &::before {
                position: absolute;
                right: 0;
                bottom: rem(-5px);
                left: auto;
                width: 0;
                height: rem(2px);
                content: "";
                background-color: $primary;
                transition: $transition;
            }

            & + & {
                margin-left: rem(40px);
            }

            &--active {
                color: $primary;

                &::before {
                    right: auto;
                    left: 0;
                    width: 100%;
                }
            }

            &:hover {
                color: $primary;
            }
        }
    }

    &-content {
        &__item {
            display: none;

            &--active {
                display: block;
            }
        }
    }
}

// === MIXITUP FILTER ===

.filter {
    &-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: rem(94px);
    }

    &-item {
        position: relative;
        font-size: $fs-l;
        line-height: $lh-l;
        color: $dark-100;
        cursor: pointer;
        transition: $transition;
        @include Circle ($weight: $fw-light);

        &::before {
            position: absolute;
            right: 0;
            bottom: rem(-5px);
            left: auto;
            width: 0;
            height: rem(2px);
            content: "";
            background-color: $primary;
            transition: $transition;
        }

        & + & {
            margin-left: rem(40px);
        }

        &--active {
            color: $primary;

            &::before {
                right: auto;
                left: 0;
                width: 100%;
            }
        }
    }
}

// === BREADCRUMBS ===

.breadcrumbs {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-item {
            margin-top: rem(10px);
            margin-right: rem(20px);
            font-size: rem(16px);
            line-height: $lh-xs;
            color: $light-200;
            transition: $transition;
            @include Circle($weight: $fw-light);

            &:hover a {
                color: $primary;

                &::after {
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='6' viewBox='0 0 36 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.8295 2.34569L32.2464 0.691389L32.9688 0L35.6921 2.84569L32.9688 5.69139L32.2464 5L33.8295 3.34569H0V2.34569H33.8295Z' fill='%23ca6d38'/%3e%3c/svg%3e ");
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &-item a {
            position: relative;
            padding-right: rem(56px);
            transition: $transition;

            &::after {
                position: absolute;
                top: 50%;
                right: 0;
                bottom: 50%;
                width: rem(36px);
                height: rem(6px);
                content: "";
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='6' viewBox='0 0 36 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.8295 2.34569L32.2464 0.691389L32.9688 0L35.6921 2.84569L32.9688 5.69139L32.2464 5L33.8295 3.34569H0V2.34569H33.8295Z' fill='%23DFD7D3'/%3e%3c/svg%3e ");
                transition: $transition;
                transform: translateY(-50%);
            }
        }
    }
}

// === PAGINATION ===

.pagination {
    margin-top: rem(60px);

    &-list {
        display: flex;
        justify-content: center;

        &__item {
            width: rem(35px);
            height: rem(35px);
            padding: rem(6px) rem(12px);
            margin: 0 rem(7.5px);
            font-size: $fs-m;
            line-height: $lh-xs;
            white-space: nowrap;
            transition: $transition;
            @include Circle($weight: $fw-light);

            &:hover {
                color: $primary;
            }

            &--all,
            &--first,
            &--last {
                width: auto;
                padding: 0;
                line-height: $lh-l;
                border-bottom: rem(1px) solid $dark-100;

                &:hover {
                    border-bottom-color: $primary;
                }
            }

            &--first,
            &--last {
                border: none;
            }

            &--active {
                color: $primary;
                border: rem(1px) solid $primary;
            }
        }
    }
}

// === SCROLL TO TOP ===

.scroll-top {
    position: fixed;
    right: rem(30px);
    bottom: rem(30px);
    z-index: 999;
    width: rem(45px);
    height: rem(45px);
    cursor: pointer;
    visibility: visible;
    background-color: $dark-100;
    opacity: 1;
    transition: $transition;

    &__arrow {
        position: absolute;
        top: 43%;
        left: 48%;
        width: rem(20px);
        height: rem(20px);
        transform: translate(-50%, -50%);

        svg {
            width: rem(20px);
            height: rem(20px);
            fill: $light-50;
            transform: rotate(-90deg);
        }
    }

    &:hover {
        box-shadow: 0 0 rem(30px) rgb($dark-100, 0.4);
    }

    &--hide {
        visibility: hidden;
        opacity: 0;
    }
}
