@import "fonts";
@import "vars";
@import "mixin";

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

html {
    box-sizing: border-box;
}

div {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    font-size: $fs-m;
    line-height: $lh-l;
    color: $dark-50;
    @include Roboto($weight: $fw-regular);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 70px;
    overflow: hidden;
}

.container {
    max-width: 1259px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-outer {
    margin-bottom: 120px;

    &--small {
        margin-bottom: 100px;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-size: $fs-xl;
    line-height: $lh-xl;
    text-align: center;
    letter-spacing: 0.01em;
    @include ArnoPro($weight: $fw-light);

    &::before,
    &::after {
        width: 60vw;
        height: 2px;
        margin: 0 60px;
        content: '';
        background: $light-200;
    }

    &::before {
        margin-left: -20vw;
    }

    &::after {
        margin-right: -20vw;
    }

    &__text {
        width: 100%;
        max-width: fit-content;
    }
}

.btn {
    display: block;
    max-width: 100%;
    padding: 24px 44px;
    @include resetBtn;

    .btn-text {
        font-size: $fs-s;
        line-height: $lh-xs;
        text-align: center;
        @include Circle($weight: $fw-regular);
    }

    &-no-bg {
        position: relative;
        // width: 400px;
        min-width: 231px;
        color: $light-50;
        border: 2px solid $light-300;
        border-right: none;
        transition: $transition;

        .btn-text {
            position: relative;

            &::before {
                position: absolute;
                top: 50%;
                bottom: 50%;
                left: calc(100% - -18px);
                width: 66px;
                height: 10px;
                content: "";
                background: url('../images/icons/arrow-right.svg') no-repeat;
                transition: $transition;
                transform: translateY(-50%);
            }
        }

        &::before,
        &::after {
            position: absolute;
            right: 0;
            width: 2px;
            height: 30%;
            content: "";
            background-color: $light-300;
            transition: $transition;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        &:hover {
            border-color: $primary;

            &::before,
            &::after {
                background-color: $primary;
            }

            .btn-text::before {
                left: calc(100% - -30px);
            }
        }

        &:active {
            border-color: $light-300;

            &::before,
            &::after {
                background-color: $light-300;
            }

            .btn-text::before {
                left: calc(100% - -10px);
            }
        }
    }

    &-bg {
        // width: 400px;
        color: $dark-50;
        background-color: $light-200;
        transition: $transition;

        &:hover {
            box-shadow: 0 0 30px rgba($light-200, 0.2);
        }

        &:active {
            box-shadow: 0 0 15px rgba($light-200, 0.1);
        }
    }

    &-standart {
        // width: 275px;
        border: 2px solid $light-200;
        transition: $transition;

        .btn-text {
            color: $dark-100;
        }

        &:hover {
            border-color: $primary;
        }

        &:active {
            opacity: 0.8;
        }
    }
}

.tabs {
    &-triggers {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;

        &__item {
            position: relative;
            font-size: $fs-l;
            line-height: $lh-l;
            color: $dark-100;
            transition: $transition;
            @include Circle ($weight: $fw-light);

            &::before {
                position: absolute;
                right: 0;
                bottom: -5px;
                left: auto;
                width: 0;
                height: 2px;
                content: "";
                background-color: $primary;
                transition: $transition;
            }

            & + & {
                margin-left: 40px;
            }

            &--active {
                color: $primary;

                &::before {
                    right: auto;
                    left: 0;
                    width: 100%;
                }
            }

            &:hover {
                color: $primary;
            }
        }
    }

    &-content {
        &__item {
            display: none;

            &--active {
                display: block;
            }
        }
    }
}

.filter {
    &-items {
        display: flex;
        justify-content: center;
        margin-bottom: 94px;
    }

    &-item {
        position: relative;
        font-size: $fs-l;
        line-height: $lh-l;
        color: $dark-100;
        cursor: pointer;
        transition: $transition;
        @include Circle ($weight: $fw-light);

        &::before {
            position: absolute;
            right: 0;
            bottom: -5px;
            left: auto;
            width: 0;
            height: 2px;
            content: "";
            background-color: $primary;
            transition: $transition;
        }

        & + & {
            margin-left: 40px;
        }

        &--active {
            color: $primary;

            &::before {
                right: auto;
                left: 0;
                width: 100%;
            }
        }
    }
}
