@import "fonts";
@import "vars";

@media (max-width: 1250px) {
    // == PRESENTATION ===
    .main-slider {
        .slider-navigation {
            top: auto;
            bottom: -37.5%;
            justify-content: space-evenly;
        }
    }
}

@media (max-width: 1200px) {
    // === GLOBAL ===
    .contact-phone__text {
        font-size: $fs-s;
        line-height: 20px;
    }

    .menu__list-item + .menu__list-item {
        margin-left: 20px;
    }

    .title {
        font-size: 50px;
        line-height: 50px;
    }

    // === HEADER ===
    .header-contact {
        margin-left: 25px;
    }

    // === REVIEWS ===
    .reviews {
        &-item {
            padding: 40px 40px 50px;
        }

        &-slider-photo {
            top: 80px;
            right: 30px;

            img {
                width: 500px;
                height: 500px;
            }
        }

        &-navigation {
            left: 30px;
        }
    }

    // === SHOWROOM ===
    .showroom-item {
        img {
            width: 250px;
            height: 170px;
        }

        &--active img {
            width: 430px;
            height: 280px;
        }
    }

    // === START - PAGE ===
    .exhibition__item img {
        width: 340px;
        height: 280px;
    }
}

@media (max-width: 1105px) {
    // === GLOBAL ===
    .logo__img {
        max-width: 200px;
    }

    .contact-phone__text {
        padding-left: 20px;
    }

    .title {
        font-size: 40px;
        line-height: 40px;
    }

    // === MENU ===
    .menu__list-item + .menu__list-item {
        margin-left: 10px;
    }

    // === HEADER ===
    .header-contact {
        margin-left: 20px;
    }

    // === REVIEWS ===
    .reviews {
        &-slider {
            width: 550px;
            height: 870px;

            &-photo {
                top: auto;
                right: 0;
                bottom: -25%;
                left: 0;
                display: flex;
                justify-content: center;

                img {
                    width: 420px;
                    height: 260px;
                }
            }
        }

        &-item {
            min-width: 500px;
            height: 650px;
        }

        &-navigation {
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }

    .slider-navigation {
        width: 400px;
    }

    // === ADVICE ===
    .advice-claim {
        max-width: 420px;
    }

    // === START - PAGE ===
    .exhibition__item img {
        width: 290px;
        height: 230px;
    }

    // === WORK ===
    .work__item-photo img {
        width: 300px;
        height: 196px;
    }

    // === PRESENTATION ===
    .presentation-slider {
        .slider-navigation {
            width: 100%;
        }
    }

    // === CONTACT ===
    .contact {
        &-inner {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__item--social a {
            margin: 15px auto 0;
        }

        &-map {
            margin-top: 50px;
        }
    }
}

@media (max-width: 1060px) {
    // === DESIGNER ===
    .designer-items {
        justify-content: normal;
    }

    // === PRESENTATION ===
    .presentation-slider {
        width: 900px;
    }
}

@media (max-width: 1000px) {
    // === GLOBAL ===
    .burger-btn {
        display: block;
    }

    // === HEADER ===
    .header-navigation {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    // === INTRO ===
    .intro {
        &::before {
            width: 100%;
            height: 55vh;
        }

        &-content {
            top: 6%;
            width: 100%;
            transform: translateY(0);
        }
    }

    // === GIFT ===
    .gift {
        &-img img {
            width: 500px;
            height: 450px;
        }

        &__title {
            font-size: 40px;
            line-height: 45px;
        }

        &__text {
            font-size: $fs-s;
            line-height: $lh-s;
        }
    }

    // === ADVICE ===
    .advice {
        &-inner {
            height: fit-content;
        }

        &-content {
            flex-direction: column;
            align-items: center;
        }

        &__title {
            max-width: 510px;
            margin: 0 auto;
        }

        &-info {
            margin-top: 40px;
        }
    }

    // === WORK ===
    .work__item-photo img {
        width: 250px;
        height: 146px;
    }

    // === PORFOLIO ===
    .portfolio {
        &-content {
            grid-auto-rows: minmax(300px, 300px);
        }

        .portfolio__item {
            &:nth-child(6n + 1) {
                grid-column: span 1/ span 3;
            }

            &:nth-child(6n + 6) {
                grid-column: span 1/ span 5;
            }
        }

        &--sections {
            .portfolio__item {
                &:nth-child(6n + 5),
                &:nth-child(6n + 6) {
                    display: none;
                    grid-column: span 1;
                }
            }
        }
    }

    // === PRESENTATION ===
    .presentation-slider {
        width: 800px;
    }
}

@media (min-width: 900px) {
    .exhibition,
    .designer-inner {
        .slider-pagination {
            display: none;
        }
    }
}

@media (max-width: 900px) {
    // === GLOBAL +==
    .title {
        font-size: $fs-l;
        line-height: 30px;
    }

    // === START - PAGE ===
    .exhibition__item {
        text-align: center;

        img {
            width: 390px;
            height: 330px;
        }
    }
}

@media (max-width: 850px) {
    .preference {
        &-top {
            margin-bottom: 25px;
        }

        &-items {
            flex-direction: column;
            align-items: center;
        }

        &-item {
            text-align: center;

            & + & {
                margin-top: 25px;
            }

            &__img {
                margin-bottom: 15px;
            }
        }
    }

    // === SHOWROOM ===
    .showroom {
        &__text {
            font-size: $fs-s;
            line-height: $lh-m;
        }

        &-container {
            height: 360px;
        }
    }

    // === PORFOLIO ===
    .portfolio-content {
        grid-template-columns: repeat(2, 1fr);
    }

    // === PRESENTATION ===
    .presentation-slider {
        width: 700px;
    }

    // === PRICE ===
    .price__item {
        flex-direction: column;
        align-items: center;
        text-align: center;

        &-text {
            margin-top: 5px;
        }

        &-coat {
            margin-top: 15px;
        }
    }
}

@media (max-width: 800px) {
    // === GLOBAL ===
    .title::before,
    .title::after {
        width: 70vw;
    }

    // === FOOTER ===
    .footer {
        &-inner {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .social-item {
                display: inline-block;
            }
        }

        &-item + &-item {
            margin-top: 30px;
        }

        &-menu {
            flex-direction: column;
            align-items: center;

            &__list + &__list {
                margin-top: 20px;
            }
        }

        &-copyright,
        &-confidentiality {
            display: none;
        }

        &-mobile-info {
            display: block;
        }
    }

    // === GIFT ===
    .gift {
        &-inner {
            flex-direction: column;
            padding-bottom: 50px;
        }

        &-info,
        &-img {
            width: 100%;
            margin: 0 auto;
        }

        &-img {
            display: inline-block;
            margin-bottom: 30px;
            text-align: center;
        }

        &__title {
            font-size: $fs-xl;
            line-height: $lh-xl;
        }

        &__text {
            font-size: $fs-m;
            line-height: 35px;
        }
    }

    // === WORK ===
    .work {
        &-items {
            flex-direction: column;
        }

        &__item {
            &::after {
                display: none;
            }

            &-photo img {
                width: 290px;
                height: 204px;
            }

            & + & {
                margin-top: 50px;
            }
        }
    }

    // === PORFOLIO ===
    .portfolio-content {
        grid-auto-rows: minmax(250px, 250px);
    }

    // === PRESENTATION ===
    .presentation-slider {
        width: 600px;
    }

    .thumbs-slider__thumb {
        height: 95px;
    }

    .main-slider .slider-navigation {
        bottom: -29.5%;
    }
}

@media (max-width: 700px) {
    // === GLOBAL ===
    .title {
        margin-bottom: 20px;
        font-size: $fs-l;
        line-height: 30px;

        &::before,
        &::after {
            width: 30vw;
        }
    }

    // === PREFERENCE ===
    .preference__text {
        font-size: $fs-s;
        line-height: 27px;
    }

    // === START - PAGE ===
    .exhibition-slider {
        margin-top: -80px;
    }

    .tabs-triggers__item,
    .filter-item {
        font-size: $fs-m;
        line-height: $lh-m;

        & + & {
            margin-left: 35px;
        }
    }

    .tabs-triggers {
        margin-bottom: 30px;
    }

    .filter {
        &-items {
            flex-wrap: wrap;
            max-width: 290px;
            margin: 0 auto 35px;
        }

        &-item {
            margin-bottom: 20px;
        }
    }

    // === PRESENTATION ===
    .presentation-slider {
        width: 100%;
        padding-bottom: 50px;

        .thumbs-slider {
            display: none;
        }
    }

    .main-slider {
        img {
            width: 290px;
            height: 400px;
        }

        .slider-navigation {
            bottom: -11.5%;
        }
    }

    // === CONTACT ===
    .contact {
        margin: 50px 0;

        &-map img {
            width: 500px;
            height: 485px;
        }
    }
}

@media (max-width: 600px) {
    // === GLOBAL ===
    .section-outer,
    .section-outer--small {
        margin-bottom: 50px;
    }

    // === INTRO ===
    .intro {
        &::before {
            height: 65vh;
        }

        &-content {
            top: 10%;
        }

        &__title {
            max-width: 520px;
            font-size: 50px;
            line-height: 50px;
        }

        &__btn {
            margin-top: 40px;
        }
    }

    // === PREFERENCE ===
    .preference__text {
        font-size: $fs-xs;
        line-height: $lh-m;
    }

    // === GIFT ===
    .gift__title {
        font-size: 40px;
        line-height: 40px;
    }

    // === REVIEWS ===
    .reviews {
        &-item {
            min-width: 460px;
            height: 570px;
            padding: 20px 20px 30px;
            font-size: 16px;
            line-height: $lh-xs;

            img {
                width: 350px;
                height: 250px;
            }
        }

        .title {
            margin-bottom: 25px;
        }

        &-slider {
            width: 480px;
            height: 780px;

            &__title {
                font-size: $fs-s;
                line-height: 28px;
            }

            &__author {
                margin-top: 22px;
            }
        }
    }

    .slider-navigation {
        width: 350px;
        text-align: center;
    }

    // === ADVICE ===
    .advice {
        &-inner {
            padding: 40px 0;
        }

        &__title {
            max-width: 450px;
            font-size: 40px;
            line-height: 44px;
        }

        &-form {
            margin-top: 25px;
        }

        &-info {
            &__items {
                max-width: fit-content;
                margin: 43px auto 0;

                &::before {
                    height: 70%;
                }
            }

            &__item {
                max-width: 350px;
            }
        }
    }

    // === SHOWROOM ===
    .showroom {
        &__text {
            font-size: $fs-xs;
            line-height: $lh-m;
        }

        &-container {
            height: 360px;
        }

        &-item--active img {
            width: 290px;
            height: 290px;
        }
    }

    // === START - PAGE ===
    .start--showroom {
        height: 560px;

        .start-content {
            margin-top: 40px;
        }
    }

    // === WORK ===
    .work__btn {
        margin-top: 20px;
    }

    // === DESIGNER ===
    .designer {
        &::before {
            top: 36.5%;
        }

        &__item img {
            width: 300px;
            height: 300px;
        }
    }

    // === PORFOLIO ===
    .portfolio-content {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(290px, 290px);
    }

    // === PRICE ===
    .price__item {
        &-title {
            font-size: $fs-xs;
            line-height: $lh-m;
        }

        &-text {
            font-size: $fs-xxs;
            line-height: 22px;
        }

        &-coat {
            font-size: $fs-xs;
            line-height: $lh-m;
        }
    }

    // === CONTACT ===
    .contact {
        &-map img {
            width: 400px;
            height: 387px;
        }
    }
}

@media (max-width: 500px) {
    // === GLOBAL ===
    .btn {
        padding: 18px 23px;

        &-no-bg .btn-text::before {
            width: 35px;
            background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='10' viewBox='0 0 36 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.2071 0L35.9142 4.70711L31.2071 9.41421L29.7929 8L32.0858 5.70711H0.5V3.70711H32.0858L29.7929 1.41421L31.2071 0Z' fill='%23DFD7D3'/%3e%3c/svg%3e ");
        }
    }

    .title {
        font-size: $fs-m;
        line-height: $lh-s;

        &::before,
        &::after {
            margin: 0 16px;
        }

        &::before {
            margin-left: -20vw;
        }

        &::after {
            margin-right: -20vw;
        }
    }

    .pagination-list {
        flex-wrap: wrap;

        &__item--all {
            margin-top: 25px;
        }
    }

    // === REVIEWS ===
    .reviews {
        &-item {
            min-width: 330px;
            height: 515px;
            padding: 15px 15px 25px;
            font-size: $fs-xxs;
            line-height: 20px;

            img {
                width: 280px;
                height: 190px;
            }
        }

        &-slider {
            width: 350px;
            height: 700px;
        }
    }

    .swiper {
        &-navigation {
            width: 290px;
        }

        &-pagination-bullet {
            width: 5px;
            height: 5px;

            & + & {
                margin-left: 5px;
            }
        }
    }

    // === ADVICE ===
    .advice {
        &__title {
            font-size: $fs-m;
            line-height: $lh-s;
        }

        &-content {
            margin-top: 15px;
        }

        &-claim__title {
            font-size: $fs-xs;
            line-height: $lh-m;
        }

        &-info {
            &__items::before {
                top: 8%;
                height: 73%;
            }

            &__item {
                max-width: 254px;
            }

            &__text {
                margin-left: 15px;
                font-size: $fs-xxs;
                line-height: $lh-xs;
            }
        }

        &-form {
            &__label {
                font-size: $fs-xxs;
                line-height: $lh-xs;
            }

            &__input {
                padding: 14px 20px 14px;
                font-size: $fs-xxs;
                line-height: $lh-xs;
                @include Circle($weight: $fw-light);
            }

            &__label-checkbox {
                max-width: 150px;
            }
        }

        &-btn {
            margin-top: 25px;
            font-size: $fs-xs;
            line-height: $lh-xs;
        }
    }

    .advice-form__item + .advice-form__item {
        margin-top: 20px;
    }

    // === START - PAGE ===
    .start {
        &--showroom {
            height: 490px;
        }

        &__title {
            font-size: $fs-l;
            line-height: $lh-l;
        }

        &__text {
            margin-top: 25px;
            font-size: $fs-xs;
            line-height: $lh-m;
        }
    }

    .exhibition__item img {
        width: 290px;
        height: 230px;
    }

    // === DESIGNER ===
    .designer {
        &::before {
            top: 34.5%;
            height: 40%;
        }

        &__item {
            &-title {
                margin-top: 25px;
                font-size: $fs-s;
                line-height: $lh-s;
            }

            &-text {
                max-width: 228px;
                font-size: $fs-xxs;
                line-height: 22px;
            }

            img {
                width: 228px;
                height: 228px;
            }
        }
    }

    // === PROJECT ===
    .project {
        &__text {
            font-size: $fs-xxs;
            line-height: $lh-xs;
        }

        &__quote {
            padding: 15px 0;
            margin: 20px 0;
            font-size: $fs-xs;
            line-height: $lh-m;
        }
    }

    // === PRESENTATION ===
    .presentation-slider {
        padding-bottom: 31px;
    }

    .main-slider img {
        height: 290px;
    }

    // === MAP ===
    .map__item iframe {
        height: 600px;
    }

    // === GUARANTEE ===
    .guarantee {
        margin-top: 50px;

        &__text {
            font-size: $fs-xxs;
            line-height: 22px;
        }

        &__blockquote {
            padding: 25px 0;
            margin: 30px auto 50px;

            &-text {
                font-size: $fs-xs;
                line-height: $lh-m;
            }
        }
    }
}

@media (max-width: 450px) {
    // === GLOBAL ===
    .btn {
        & .btn-text {
            display: block;
            font-size: $fs-xxs;
            line-height: 20px;
        }

        &-no-bg {
            width: 276px;
        }
    }

    .title {
        &::before,
        &::after {
            width: 30vw;
        }

        &::before {
            margin-left: -30vw;
        }

        &::after {
            margin-right: -30vw;
        }

        &__text {
            max-width: 165px;
        }
    }

    // === INTRO ===
    .intro {
        &::before {
            height: 55vh;
        }

        &__title {
            font-size: 42px;
            line-height: 42px;
        }

        &__text {
            font-size: $fs-s;
            line-height: $lh-m;
        }
    }

    // === PREFERENCE ===
    .preference__text {
        max-width: 350px;
    }

    // === GIFT ===
    .gift {
        &-img img {
            width: 320px;
            height: 300px;
        }

        &__title {
            font-size: $fs-m;
            line-height: $lh-s;
        }

        &__text {
            margin-top: 15px;
            font-size: $fs-xs;
            line-height: $lh-m;
        }

        &__btn {
            margin-top: 25px;
        }
    }

    // === WORK ===
    .work__text {
        font-size: $fs-xs;
        line-height: $lh-m;
    }

    // === CONTACT ===
    .contact {
        &__item {
            &-title {
                font-size: $fs-xxs;
                line-height: 22px;
            }

            &-text {
                margin-top: 5px;
                font-size: $fs-xs;
                line-height: $lh-m;
            }
        }

        &-map {
            &__title {
                font-size: $fs-xs;
                line-height: $lh-m;
            }

            img {
                width: 300px;
                height: 290px;
            }
        }
    }
}

@media (max-width: 380px) {
    // === GLOBAL ===
    .btn-no-bg .btn-text::before {
        left: calc(100% - -7px);
    }

    .tabs-triggers__item,
    .filter-item {
        font-size: $fs-s;
        line-height: $lh-m;
    }

    // === INTRO ===
    .intro {
        &__title {
            max-width: 259px;
            font-size: $fs-l;
            line-height: 30px;
        }

        &__text {
            max-width: 290px;
            margin-top: 15px;
            font-size: $fs-xs;
            line-height: $lh-m;
        }

        &__btn {
            margin-top: 25px;
        }
    }

    // === PREFERENCE ===
    .preference__text {
        max-width: 290px;
    }

    // === REVIEWS ===
    .reviews {
        &-item {
            min-width: 290px;

            img {
                width: 250px;
                height: 170px;
            }
        }

        &-slider {
            width: 300px;

            &__title {
                font-size: $fs-xs;
                line-height: $lh-xs;
            }

            &__text {
                margin-top: 10px;
            }

            &-author {
                margin-top: 15px;
            }
        }
    }

    .slider-navigation {
        width: 270px;
    }

    // === ADVICE ===
    .advice {
        &-btn {
            margin-top: 20px;
            font-size: $fs-xxs;
            line-height: 16px;
        }

        &-info {
            margin-top: 30px;

            &__items {
                margin: 40px 0 0 auto;

                &::before {
                    height: 71%;
                }
            }

            &__img {
                width: 30px;
                height: 30px;
            }
        }
    }
}
