@import "mixin";
@import "fonts";
@import "vars";

@media (max-width: 1200px) {
    // === GLOBAL ===
    .contact-phone__text {
        font-size: 20px;
        line-height: 20px;
    }

    .menu__list-item + .menu__list-item {
        margin-left: 20px;
    }

    .title {
        font-size: 50px;
        line-height: 50px;
    }

    // === HEADER ===
    .header-contact {
        margin-left: 25px;
    }
}

@media (max-width: 1105px) {
    // === GLOBAL ===
    .logo__img {
        max-width: 200px;
    }

    .contact-phone__text {
        padding-left: 20px;
    }

    .title {
        font-size: 40px;
        line-height: 40px;
    }

    // === MENU ===
    .menu__list-item + .menu__list-item {
        margin-left: 10px;
    }

    // === HEADER ===
    .header-contact {
        margin-left: 20px;
    }
}

@media (max-width: 1000px) {
    // === GLOBAL ===
    .burger-btn {
        display: block;
    }

    // === HEADER ===
    .header-navigation {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    // === INTRO ===
    .intro {
        &::before {
            width: 100%;
            height: 55vh;
        }

        &-content {
            top: 6%;
            width: 100%;
            transform: translateY(0);
        }
    }
}

@media (max-width: 900px) {
    // === GLOBAL +==
    .title {
        font-size: 30px;
        line-height: 30px;

        &__text {
            max-width: 450px;
        }
    }
}

@media (max-width: 850px) {
    .preference {
        &-top {
            margin-bottom: 25px;
        }

        &-items {
            flex-direction: column;
            align-items: center;
        }

        &-item {
            text-align: center;

            & + & {
                margin-top: 25px;
            }

            &__img {
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 800px) {
    // === GLOBAL ===
    .title {
        &::before,
        &::after {
            width: 70vw;
        }
    }
    // === FOOTER ===
    .footer {
        &-inner {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .social-item {
                display: inline-block;
            }
        }

        &-item + &-item {
            margin-top: 30px;
        }

        &-menu {
            flex-direction: column;
            align-items: center;

            &__list + &__list {
                margin-top: 20px;
            }
        }

        &-copyright,
        &-confidentiality {
            display: none;
        }

        &-mobile-info {
            display: block;
        }
    }
}

@media (max-width: 700px) {
    // === GLOBAL ===
    .title {
        font-size: 30px;
        line-height: 30px;

        &::before,
        &::after {
            width: 20vw;
        }

        &__text {
            max-width: 350px;
        }
    }
    // === PREFERENCE ===
    .preference {
        .title {
            margin-bottom: 20px;
        }

        &__text {
            font-size: 20px;
            line-height: 27px;
        }
    }
}

@media (max-width: 600px) {
    // === GLOBAL ===
    .section-outer,
    .section-outer--small {
        margin-bottom: 50px;
    }
    // === INTRO ===
    .intro {
        &::before {
            height: 65vh;
        }

        &-content {
            top: 10%;
        }

        &__title {
            max-width: 520px;
            font-size: 50px;
            line-height: 50px;
        }

        &__btn {
            margin-top: 40px;
        }
    }
    // === PREFERENCE ===
    .preference__text {
        font-size: 18px;
        line-height: 26px;
    }
}

@media (max-width: 500px) {
    // === GLOBAL ===
    .btn {
        padding: 18px 23px;

        &-no-bg .btn-text::before {
            width: 35px;
            background: url('../images/icons/arrow-right-small.svg');
        }
    }

    .title {
        font-size: 25px;
        line-height: 25px;

        &::before,
        &::after {
            margin: 0 16px;
        }

        &::before {
            margin-left: -20vw;
        }

        &::after {
            margin-right: -20vw;
        }

        &__text {
            max-width: 250px;
        }
    }
}

@media (max-width: 450px) {
    // === GLOBAL ===
    .btn {
        & .btn-text {
            display: block;
            font-size: 14px;
            line-height: 20px;
        }

        &-no-bg {
            width: 276px;
        }
    }

    .title {
        &::before,
        &::after {
            width: 30vw;
        }

        &::before {
            margin-left: -30vw;
        }

        &::after {
            margin-right: -30vw;
        }

        &__text {
            max-width: 165px;
        }
    }

    // === INTRO ===
    .intro {
        &::before {
            height: 55vh;
        }

        &__title {
            font-size: 42px;
            line-height: 42px;
        }

        &__text {
            font-size: $fs-s;
            line-height: 26px;
        }
    }
    // === PREFERENCE ===
    .preference__text {
        max-width: 350px;
    }
}

@media (max-width: 380px) {
    // === GLOBAL ===
    .btn-no-bg .btn-text::before {
        left: calc(100% - -7px);
    }

    // === INTRO ===
    .intro {
        &__title {
            max-width: 259px;
            font-size: $fs-l;
            line-height: 30px;
        }

        &__text {
            max-width: 290px;
            margin-top: 15px;
            font-size: $fs-xs;
            line-height: 26px;
        }

        &__btn {
            margin-top: 25px;
        }
    }
    // === PREFERENCE ===
    .preference__text {
        max-width: 290px;
    }
}
