@import "fonts";
@import "vars";
@import "global";

// === HEADER ===

@import "sections-styles/header";

// === FOOTER ===

@import "sections-styles/footer";

// === INTRO ===

@import "sections-styles/intro";

// === PREFERENCE ===

@import "sections-styles/preference";

// === PORTFOLIO ===

@import "sections-styles/portfolioSection";

// === GIFT ===

@import "sections-styles/gift";

// === REVIEWS ===

@import "sections-styles/reviews";

// === ADVICE ===

@import 'sections-styles/advice';

// === SHOWROOM ===

@import 'sections-styles/showroom';

// === START - PAGE ===

.start {
    position: relative;
    padding: 55px 0 100px 0;
    background-repeat: no-repeat;
    background-size: cover;

    &--showroom {
        height: 700px;
        padding: 50px 0;

        .start-content {
            margin-top: 150px;
        }

        .slider-navigation {
            right: 0;
            left: 0;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
        }
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba($dark-100, 0.85);
    }

    &-content {
        position: relative;
        max-width: 660px;
        margin: 80px auto 0;
        color: $light-50;
        text-align: center;
    }

    &__title {
        font-size: $fs-xxl;
        line-height: $lh-xxl;
        @include ArnoPro($weight: $fw-light);
    }

    &__text {
        margin-top: 50px;
        font-size: $fs-m;
        line-height: $lh-l;
        @include Circle($weight: $fw-light);
    }

    &-breadcrumbs {
        .breadcrumbs__list-item {
            z-index: 1;
        }
    }
}

.start-slider {
    position: relative;
    padding-bottom: 25px;
    margin-top: 140px;

    .swiper-slide {
        width: auto;
    }
}

.start-items {
    display: flex;
    justify-content: space-between;
}

.start__item {
    img {
        width: 390px;
        height: 330px;
        object-fit: cover;
    }
}

// === / START - PAGE ===

@import "media";
